{{! bottom #737172}}
<div class='square-wrapper'>
  {{#if (not square.isRevealed)}}
    <div class='square-box'
      onclick={{action 'checkSquare' square}}
      oncontextmenu={{action 'flagSquare' square}}
    >
      {{#if square.isFlagged}}
        <img src='/flag.png' />
      {{/if}}
    </div>
  {{else}}
    <div class='knocked-square'>
      {{#if square.isBomb}}
        <img src='/bomb.png'>
      {{else}}
        <span style="color: {{color}}; font-weight: bold;">
          {{square.neighboringBombCount}}
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>
