<div data-test-minefield-row class='game-wrapper'>
  <div class='info-row'>
    <div class='info-section left'>
      {{minesLeft}}
    </div>

    <div class='info-section center' onclick={{action 'resetGame'}}>
      😬
    </div>

    <div class='info-section right'>
      {{timeSpent}}
    </div>
  </div>

  {{#each game.minefield as |minefieldRow|}}
    <div class='square-row'>
      {{#each minefieldRow as |square|}}
        {{mf-square
          square=square
          isEditingFlags=isEditingFlags
          changeIsEditingFlags=changeIsEditingFlags
        }}
      {{/each}}
    </div>
  {{/each}}

  {{#if isEditingFlags}}
    <div class='mobile-bar isPlacingFlag' {{action changeIsEditingFlags false}}>
      Now select square to flag or cancel
    </div>
  {{else}}
    <div class='mobile-bar' {{action changeIsEditingFlags true}}>
      place flag <span><img src="/flag.png"></span>
    </div>
  {{/if}}
</div>
