<div data-test-minefield-row>
  <div style="
    display:flex;
    align-items: stretch;
  ">
  <div style='flex: 1;'>
    {{minesLeft}}
  </div>

  <div align='center' style='
  cursor: pointer;
  flex: 1;'>
    <span onclick={{action 'resetGame'}}>
      😬
    </span>

    <div>
      {{#if isEditingFlags}}
        <div {{action changeIsEditingFlags false}}>
          &gt;&gt; Now select square to flag or cancel&lt;&lt;
        </div>
      {{else}}
        <div {{action changeIsEditingFlags true}}>
          (place flag <span><img src="/flag.png"></span>)
        </div>
      {{/if}}
    </div>
  </div>

  <div align='right' style='flex: 1;'>
    {{timeSpent}}
  </div>

  </div>
  {{#each game.minefield as |minefieldRow|}}
    <div style="
      display:flex;
      align-items: stretch;
    ">
      {{#each minefieldRow as |square|}}
      {{mf-square
        square=square
        isEditingFlags=isEditingFlags
        changeIsEditingFlags=changeIsEditingFlags
      }}
      {{/each}}
    </div>
  {{/each}}
</div>
